<div class="action-bar" fxLayout="column" fxLayoutAlign="start start">
  <button mat-icon-button><mat-icon>shopping_cart</mat-icon></button>
  <button mat-icon-button (click)="switchSound()">
    <mat-icon *ngIf="sound; else soundOff">volume_up</mat-icon>
  </button>
  <button mat-icon-button (click)="switchMusic()">
    <mat-icon *ngIf="music; else musicOff">music_note</mat-icon>
  </button>
</div>

<ng-template #soundOff><mat-icon>volume_off</mat-icon></ng-template>
<ng-template #musicOff><mat-icon>music_off</mat-icon></ng-template>
