div {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 248, 0.5) 100%,
    rgba(0, 212, 255, 1) 100%
  );

  > div {
    color: whitesmoke;
  }
}
