<mat-card class="example-card" fxflex>
  <mat-card-header>
    <div
      mat-card-avatar
      class="header-image"
      [style.background-image]="image"
    ></div>
    <mat-card-title
      ><span>{{ item.name }} lv. {{ item.level }}</span></mat-card-title
    >
    <mat-card-subtitle>
      <span *ngIf="!!item.gainsPerSec">+{{ item.gainsPerSec }}€/s </span>
      <span *ngIf="!!item.gainsPerClick">
        +{{ item.gainsPerClick }}€/click</span
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <span> {{ item.cost }}€</span>
      <button
        mat-icon-button
        (click)="buyItem()"
        [disabled]="current < item.cost"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
