<mat-card class="example-card" fxflex>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ item.name }} lv. {{ item.level }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="!!item.gainsPerSec"
        >Per second: +{{ item.gainsPerSec }}</span
      >
      <span *ngIf="!!item.gainsPerClick"
        >Per click: +{{ item.gainsPerClick }}</span
      >
      <span> Cost: {{ item.cost }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-icon-button
        (click)="buyItem()"
        [disabled]="total < item.cost"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
